{{ define "main" }}
<div class="container">
	<div class="border--bottom">
		<div class="flex-column">
			<h1>
				{{ .Title }}
			</h1>
		</div>
	</div>
	<ul class="grid-row   ul-no-bullets">
		{{ range .Pages.ByPublishDate.Reverse }}
		<li>
			<div class="flex-column   animateWhenVisible">
				<div>
					<h2><a href="{{ .RelPermalink }}" class="anchor anchor--inherit-style">{{ .Title | markdownify }}</a></h2>
					<span>
						<small class="post-tags">
							{{ partial "date-and-tags.html" . }}
						</small>
					</span>
					{{ .Summary | markdownify }}
					<hr>
					<a class="anchor--button-dark" href="{{ .RelPermalink }}">Read more</a>
				</div>
			</div>
		</li>
		{{ end }}
	</ul>
</div>

{{ end }}
