{{ define "main" }}
<div class="flex-column   banner-img banner-img--anarchy">
    <div class="container   fadeInLeft animated">
        <h1>
            {{ .Params.banner.main }}
            <br>
            <small>
                {{ .Params.banner.sub }}
            </small>
        </h1>
    </div>
</div>
<div class="container-narrow">
    <div class="padding--sm">
        {{ .Content | markdownify }}
        <hr>
        <a class="anchor--button-dark" href="/events">See all upcoming events</a>
    </div>
</div>
{{ end }}
