<ul class="ul-no-bullets">
  <li>
    
    {{ $dateTime := .PublishDate.Format "2006-01-02" }}
    {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
    <span>posted on </span><time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
  </li>
  {{ with .Params.tags }}
  {{ range . }}
  <li>
    {{ $href := print (absURL "tags/") (urlize .) }}
    <a href="{{ $href }}" class="anchor--light"><i class="fas fa-tags   padding--sm--right"></i>{{ . }}</a>
  </li>
  {{ end }}
</ul>
{{ end }}
