<footer class="bg--black  padding--lg">
	<div class="grid-container">
		<div class="grid-container__item-1" id="contact">
			<div>
				<h2>Contact</h2>
				<ul class="ul-no-bullets">
					<li>
						<a href="mailto:libsoclb@protonmail.com" class="footer-link">
							Email: libsoclb@protonmail.com
						</a>
					</li>
					<li>
						<a href="https://twitter.com/anarchistlb" target="_blank" rel="noreferrer noopener" class="footer-link">
							Twitter:  @anarchistlb
						</a>
					</li>
					<li>
						<a href="https://en.wikipedia.org/wiki/Criticism_of_Facebook" target="_blank" class="footer-link">
							Facebook: Never heard of it
						</a>
					</li>
					<li>
						<a href="https://ko-fi.com/fnbinthelbc" target="_blank" rel="noreferrer noopener" class="footer-link">
							Support Us: Donate on Ko-fi
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="grid-container__item-2">
			<div>
				<h2>Navigation</h2>
				<ul class="ul-no-bullets">
					{{ range .Site.Menus.main }}
					<li>
						<a class="footer-link" href="{{ .URL }}">
							{{ .Name }}
						</a>
					</li>
					{{ end }}
				</ul>
				
			</div>
		</div>
	</div>
</footer>
