	<header class="bg--black  padding--lg">
		<h1>
			<a class="anchor--inherit-style" href="/">
				Long Beach Anarchist Collective
			</a>
		</h1>
		<nav class="navbar">
			<button class="navbar__menu-toggler" type="button">
				<div>Menu</div>
				<i class="fas fa-bars"></i>
			</button>
			
			<ul class="navbar__links navbar__links">
				{{ range .Site.Menus.main }}
				<li class="navbar__link">
					<a class="navbar__link" href="{{ .URL }}">{{ .Name | safeHTML }}</a>
				</li>
				{{ end }}
			</ul>
		</nav>
	</header>
	
	