
{{ define "main" }}
<div class="flex-column bg-my-red">
	<div class="container">
		<h1 class="banner-text">Anarchy in the LBC!<br>
			<br>
			<small>We are a group of anarchists organizing to promote the spread of anarchist ideas & action in the greater Long Beach Area.</small>
		</h1>
			<a href="#content" class="button-light">Get to know us!</a>
	</div>
</div>
<div class="flex-container-lg" id="content">
	<div class="grid-container">
		<div class="flex-column banner-main animateWhenVisible">
			<h1 class="">We stand against capitalism and the state</h1>
		</div>
		<div class="">
			<div class="flex-column card-body">
				<p class="">Capitalism and the state work in symbiosis to oppress and rob individuals of dignity and liberty. Whether it's confinement to a bullshit office job (or two) for the majority of our waking hours or confinement to a literal prison cell, the ruling class makes sure there's always a boot on our neck ready to clamp down against any resistance.</p>
				<hr>
			</div>
		</div>
	</div>
</div>
<div class="flex-column bg-black animateWhenVisible">
	<div class="container">
		<h1 class="banner-text">Food, not bombs!<br>
			<br>
			<small>Long Beach Anarchist Collective will be sharing hot meals and fresh groceries with our community every fourth Sunday.</small>
		</h1>
			<a class="button-light" href="/foodnotbombs">Learn more!</a>
	</div>
</div>
<div class="flex-container-lg">
	<div class="grid-container">
		<div class="">
			<div class="flex-column card-body">
				<p class="">As anarchists, we practice solidarity, not charity, by taking direct action to counter the violence of the capitalist system.</p>
				<p class="">Oppressed peoples have engaged in self-directed mutual aid for centuries and continue to do so to this day. We believe in solidarity and are against one-sided, hierarchical charity or "rescue" efforts that do nothing to aid the liberation of all peoples.</p>
				<hr>
			</div>
		</div>
		<div class="flex-column banner-fnb animateWhenVisible">
			<h1 class="">We promote and engage in mutual aid with our community</h1>
		</div>
	</div>
</div>
<div class="flex-column bg-my-red">
	<div class="container animateWhenVisible">
		<h1 class="">Discussion Groups<br>
			<br>
			<small>Long Beach Anarchist Collective coordinates discussions of zines, articles, videos, & more.</small>
		</h1>
			<a class="button-light" href="/discussiongroup">Join the discussion!</a>
	</div>
</div>
<div class="flex-container-lg">
	<div class="grid-container">
		<div class="flex-column banner-dg animateWhenVisible">
			<h1 class="">We encourage the sharing of decentralized knowledge</h1>
		</div>
		<div class="">
			<div class="flex-column card-body">
				<p class="">Theory is important, and what better way to learn than by sharing knowledge, thoughts, and conversations with friends and "theorizing" by ourselves, for ourselves.</p>
				<p class="">The masses less need to be educated, and more need to be connected and encouraged to dream and struggle together.</p>
				<hr>
			</div>
		</div>
	</div>
</div>
{{ end }}
