{{ define "main" }}
<div class="grid-container   banner-img banner-img--anarchy">
    <div class="grid-container__item-1 flex-column   animated fadeInLeft">
        <h1>
            {{ .Params.banner.main | markdownify }}
            <br>
            <small>
                {{ .Params.banner.sub | markdownify }}
            </small>
        </h1>
    </div>
    <div class="grid-container__item-2   bg--red   padding--lg">
        <h2>
            <small>
                {{ partial "date-and-tags.html" . }}
            </small>
        </h2>
        <h2>
            <small>
                {{ partial "event-info.html" . }}
            </small>
        </h2>
    </div>
</div>
<div class="container-narrow">
    <div class="padding--sm">
        {{ .Content  | markdownify }}
        <hr>
        <a class="anchor--button-dark" href="/events">See all upcoming events</a>
    </div>
</div>
{{ end }}
